<a href="https://colab.research.google.com/github/alexcpass/python_ad/blob/main/Analista_de_dados_M27_Exercicio.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img src="https://raw.githubusercontent.com/andre-marcos-perez/ebac-course-utils/main/media/logo/newebac_logo_black_half.png" alt="ebac-logo">

---

# **Módulo** | Análise de Dados: Visualização Interativa de Dados
Caderno de **Exercícios**<br> 
Professor [André Perez](https://www.linkedin.com/in/andremarcosperez/)

---

# **Tópicos**

<ol type="1">
  <li>Google Data Studio;</li>
  <li>Dados;</li>
  <li>Relatório.</li>
</ol>

---

# **Exercícios**

## 1\. Contexto

Você é o analista de dados de um grande aeroporto. O time de operações precisa acompanhar o fluxo mensal de passageiros para tomar decisões sobre manutenção, obras, etc. Você propõe a construção de um *dashboard* de dados para auxiliar o time na tomada de decisão.

## 2\. Preparação

Carregue as bibliotecas Python de manipulação de dados.

In [ ]:
import numpy as np
import pandas as pd
import seaborn as sns

### **2.1. Extração**

Carregue os dados de **voos** (*flights*) e responda as perguntas abaixo:

In [ ]:
flights = sns.load_dataset('flights')

In [ ]:
flights.head(13)

    year month  passengers
0   1949   Jan         112
1   1949   Feb         118
2   1949   Mar         132
3   1949   Apr         129
4   1949   May         121
5   1949   Jun         135
6   1949   Jul         148
7   1949   Aug         148
8   1949   Sep         136
9   1949   Oct         119
10  1949   Nov         104
11  1949   Dec         118
12  1950   Jan         115

In [ ]:
flights.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 144 entries, 0 to 143
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   year        144 non-null    int64
 1   month       144 non-null    category
 2   passengers  144 non-null    int64
dtypes: category(1), int64(2)
memory usage: 2.9 KB

Responda:

 - Qual é a granularidade temporal da base de dados: Anual
 - Qual é o intervalo de tempo (min/max): jan/1949 - Dez/1960

### **2.2. Transformação**

Tranforme o texto da coluna `month` para sua representação numérica, exemplo: `Jan` para `1` e `Dec` para `12`.

In [ ]:
dados = flights.rename(columns={'year': 'ano', 'month': 'meses','passengers':'passageiros'})

In [ ]:
df = pd.DataFrame(dados)

meses = {'Jan': 1, 'Feb': 2, 'Mar': 3, 'Apr': 4, 'May': 5, 'Jun': 6, 
         'Jul': 7, 'Aug': 8, 'Sep': 9, 'Oct': 10, 'Nov': 11, 'Dec': 12}

df['meses'] = df['meses'].map(meses)

print(df)

      ano meses  passageiros
0    1949     1          112
1    1949     2          118
2    1949     3          132
3    1949     4          129
4    1949     5          121
..    ...   ...          ...
139  1960     8          606
140  1960     9          508
141  1960    10          461
142  1960    11          390
143  1960    12          432

[144 rows x 3 columns]

In [ ]:
df.head()

    ano meses  passageiros
0  1949     1          112
1  1949     2          118
2  1949     3          132
3  1949     4          129
4  1949     5          121

In [ ]:
df.tail()

      ano meses  passageiros
139  1960     8          606
140  1960     9          508
141  1960    10          461
142  1960    11          390
143  1960    12          432

Crie uma chave temporal `year-month` no formato `YYYY-MM` através da concatenação das colunas `year` e `month`, exemplo: `1949-01`.

In [ ]:
df['ano-meses'] = df[['ano', 'meses']].apply(lambda x: '-'.join(x.astype(str)), axis=1)

Reordene as colunas da seguinte forma: `year-month`, `year`, `month` e `passengers`.

In [ ]:
df.head()

    ano meses  passageiros ano-meses
0  1949     1          112    1949-1
1  1949     2          118    1949-2
2  1949     3          132    1949-3
3  1949     4          129    1949-4
4  1949     5          121    1949-5

In [ ]:
df.tail()

      ano meses  passageiros ano-meses
139  1960     8          606    1960-8
140  1960     9          508    1960-9
141  1960    10          461   1960-10
142  1960    11          390   1960-11
143  1960    12          432   1960-12

In [ ]:
df = df[['ano-meses', 'ano', 'meses', 'passageiros']]

In [ ]:
df.head()

  ano-meses   ano meses  passageiros
0    1949-1  1949     1          112
1    1949-2  1949     2          118
2    1949-3  1949     3          132
3    1949-4  1949     4          129
4    1949-5  1949     5          121

In [ ]:
df.tail()

    ano-meses   ano meses  passageiros
139    1960-8  1960     8          606
140    1960-9  1960     9          508
141   1960-10  1960    10          461
142   1960-11  1960    11          390
143   1960-12  1960    12          432

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 144 entries, 0 to 143
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   ano-meses    144 non-null    object
 1   ano          144 non-null    int64
 2   meses        144 non-null    category
 3   passageiros  144 non-null    int64
dtypes: category(1), int64(2), object(1)
memory usage: 4.0+ KB

In [ ]:
df.shape

(144, 4)

### **2.3. Carregamento**

Persista o DataFrame em um arquivo com o nome `flights.csv`, no formato CSV. Garanta que o índice será descartado.

In [ ]:
df.to_csv('flights_final.csv', sep=',', index=False)

## 3\. Dashboard

Conduza os items **3.1** e **3.2** no [Google Data Studio](https://datastudio.google.com/).

### **3.1. Fonte de dados**

Crie a fonte de dados `flights-data` através do *upload* do arquivo `flights.csv`.

### **3.2. Relatório**

Crie o relatório `flights-report` utilizando a fonte de dados `flights-data`. Edite o relatório conforme sua criatividade (texto, cores, etc.). Compartilhe o relatório e copie o link abaixo:

 - KPI

Crie um filtro a nível de página com a dimensão `year`. Adicione um `scorecard` com uma `métrica` que represente a `soma dos passageiros em um determinado ano`. Note que o valor do `scorecard` deve ser dinâmico, ou seja, deve se alterar com o filtro temporal `year`.

 - EDA

Adicione um gráfico de série temporal (*time series chart*) utilizando com dimensão a coluna `year-month` e como métrica a soma da dimensão `passengers`. Note que o valor do gráfico deve ser dinâmico, ou seja, deve se alterar com o filtro temporal `year`.

 - OBS: Pela uso que faço com o Power BI há mais tempo, optei por utilizar esse modelo. Espero que esteja correto

https://app.powerbi.com/links/r_n8puSCmp?ctid=717c3155-980a-45ce-b20c-ab6d0e642d11&pbi_source=linkShare

---