<a href="https://colab.research.google.com/github/alexcpass/python_ad/blob/main/titanic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

*This is a study on the Titanic archive, available on Kaggle and Google. We will do a data analysis working concepts in python and creating a visualization in Power BI (link).*

In [ ]:
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt
import seaborn as sns
import csv
import openpyxl

In [ ]:
sns.get_dataset_names()

#ETL + analysis

In [ ]:
ship = sns.load_dataset("titanic")
ship.head()

In [ ]:
ship.shape

In [ ]:
ship.info()

In [ ]:
ship['survived'].value_counts()

In [ ]:
ship['alive'].value_counts()

In [ ]:
age_p = ship['age'].describe().round(2)
age_p

In [ ]:
ship['sibsp'].unique()

Graphics

#Bar Graph: Passenger Count by Class

In [ ]:
# Gráfico de barras: Contagem de passageiros por classe
sns.countplot(x='pclass', data=ship)
plt.title('Passenger count by class')
plt.xlabel('Class')
plt.ylabel('Score')
plt.show()

#Age versus fare paid

In [ ]:
# Gráfico de dispersão: Idade versus tarifa paga
plt.scatter(ship['age'], ship['fare'], alpha=0.5)
plt.title('Age versus fare paid')
plt.xlabel('Age')
plt.ylabel('tariff')
plt.show()

#Distribution of fares by class

In [ ]:
sns.boxplot(x='pclass', y='fare', data=ship)
plt.title('Distribution of fares by class')
plt.xlabel('Class')
plt.ylabel('Tariff')
plt.show()

#Qtt Sex (Male x Female)

In [ ]:
ship.head()

In [ ]:
sns.countplot(y="sex", data= ship)

#Pivot Table

Pivot data to average fares paid by class and gender

In [ ]:
# Pivotar os dados para obter a média das tarifas pagas por classe e sexo
pivot_table = pd.pivot_table(ship, values='age', index='pclass', columns='sex', aggfunc='mean')
print(pivot_table.round(2))

In [ ]:
# Pivotar os dados para obter a contagem de passageiros falecidos e sobreviventes por classe
pivot_table = pd.pivot_table(ship, values='age', index='pclass', columns='sex', aggfunc='count')

# Gerar o gráfico de barras
pivot_table.plot(kind='bar', stacked=True)
plt.title('Deceased and surviving passenger count by class')
plt.xlabel('Class')
plt.ylabel('Score')
plt.show()

#Link Power BI Data Viz

https://app.powerbi.com/view?r=eyJrIjoiYjRkYzI5YmUtZmQ3OC00ZTRiLWEwNjUtNTJkNjk0NjA5MmZjIiwidCI6IjcxN2MzMTU1LTk4MGEtNDVjZS1iMjBjLWFiNmQwZTY0MmQxMSJ9